@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Tajawal', sans-serif;
}

body {
  background: radial-gradient(#04154246, #3454b57b);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 100px;
}

.content {
  display: flex;
  align-items: center;
}

.content .left {
  margin: 0em 5em;
}

h1 {
  color: #041542;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 20px;
}

p {
  font-size: 23px;
  line-height: 35px;
  margin-bottom: 20px;
}

.content .right {
  position: relative;
  width: 300px;
  height: 300px;
  padding: 80px;
  margin: 0em 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  background-image: url(../images/praia.jpg);
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.2);
  z-index: -1;
}



.circle::before {
  /* before é usada para criar um elemento posicionado absolutamente, que cobre todo o elemento*/
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(rgba(0, 0, 0, 0.792), rgba(0, 0, 0, 0));
}


.right img {
  max-width: 1000px;
  max-height: 500px;
  border-radius: 10px;
}

.left img {
  width: 200px;
}

.btn-back {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: #fff8e1;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  color: #000000;
  cursor: pointer;
}

.btn-back:hover {
  background-color: #f9fafc;
  color: #ffa200;
  transition: 0.4s;
}